body{
	font-family: 'Raleway', sans-serif;
}

/* Start of Nav */

.navbar{
	border-bottom: solid 1px #868e96;
}
.navbar .navbar-brand{
	margin-left: 100px;
}
@media(max-width:700px){
  
  .navbar .navbar-brand{
	margin-left: 0px;
  }

}
.navbar .navbar-brand img{
	width: 150px;
}
.navbar .collapse ul li {
	padding-right: 20px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
	color: #fff;
	font-size: 14px;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover{
	color: #2a80b9;
}

/* End of Nav */

/* Start of Home Section */

#main-slider{
	min-height: 650px;
}
.carousel img{
	min-height: 650px;
	max-height: 850px;
}
.home{
	position: relative;
}
.home .caption{ 
	background-color: rgba(0,0,30,0.5);
    position: absolute;
    top:0px;
    padding-top: 300px;
    height: 100%; 
    width: 100%;
    color: #fff;
}
.home .caption h2{
    font-size: 58px;
}
.home .caption p{
    color: #fff;
}
.home .caption a{
	background-color: #2a80b9;
	color: #fff;
}
.home .caption a:hover{
	background-color: #fff;
	color: #000;
}
@media(max-width:1000px){
	.home .caption{
       padding-top: 150px;
	}
}
@media(max-width:593px){
	.home .caption{
       padding-top: 100px;
	}
	.home .caption h2{
      font-size: 45px;
    }
}

#left{
	z-index: 100;
}
#right{
	z-index: 100;
}

/* End of Home Section */

/* Start of About Section */

.about{
	padding: 100px 0px;
}
.about .caption{
	border: solid 1px #eee;
	margin: 15px 0px;
}
.about .caption .icon{
	background-color: #2a80b9;
	color: #fff;
	width: 40px;
	height: 40px;
	margin: auto;
	font-size: 18px;
}
.about .caption .icon i{
    padding: 10px;
}

/* End of About Section */

/* Start of Counter Section */

.projects{
	background-color: #f7f7f7;
	padding: 50px 0px;
}
.projects .caption h2{
	font-size: 45px;
}
.projects .caption h4{
	font-size: 16px;
}

/* End of Counter Section */